* {
	box-sizing: border-box;
}
@font-face {
	font-family: OpenSans;
	src: url(OpenSans.ttf);
}
html {
	font-size: 62.5%;
}
body {
	background-color: #55a291;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: OpenSans, sans-serif;
}
.container {
	background-color: white;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}
.header {
	background-color: #f7f7f7;
	border-bottom: 1px solid #f0f0f0;
	padding: 20px 40px;
}
.header h2 {
	font-size: 3rem;
	font-weight: bold;
}
.form {
	padding: 30px 40px;
}
.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}
.form-control label {
	display: inline-block;
	margin-bottom: 5px;
	font-size: 1.8rem;
}
.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	margin-bottom: 6px;
	display: block;
	font-family: inherit;
	font-size: 1.4rem;
	padding: 10px;
	width: 100%;
}
.form-control.success input {
	border-color: #10ee2b;
}
.form-control.error input {
	border-color: #e46151;
}

.form-control i {
	position: absolute;
	top: 36px;
	right: 10px;
	font-size: 1.8rem;
	visibility: hidden;
}
.form-control.success i.fa-circle-check {
	visibility: visible;
	color: #10ee2b;
}
.form-control.error i.fa-circle-exclamation {
	visibility: visible;
	color: #e46151;
}
.form-control small {
	visibility: hidden;
	position: absolute;
	bottom: 5px;
	font-size: 1.2rem;
	left: 0;
}
.form-control.error small{
	visibility: visible;
	color: #e46151;
}
.form button {
	background-color: #3480f9;
	border: 2px solid #5cbafe;
	border-radius: 4px;
	color: white;
	display: block;
	font-size: 1.6rem;
	font-weight: bold;
	font-family: inherit;
	width: 100%;
	padding: 10px;
}
